*::-webkit-scrollbar {
  display: none;
}

#loader {
  transition: 0.25s;
}

#navbar {
  z-index: 6;
  position: relative;
}

#navbar-list {
  position: relative;
  font-family: monospace;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
#navbar-button {
  font-family: monospace;
  color: black;
  letter-spacing: 1px;
}

#navbar-list::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  border-radius: 5px;
  background: #000;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

#navbar-list:hover::after {
  transform: scaleX(1);
}

.navbar-list-active {
  position: relative;
  font-family: monospace;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-list-active::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  border-radius: 5px;
  background: #000;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
}

#home-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 72px;
}

#home-subtitle {
  letter-spacing: 2px;
  text-decoration: underline;
}

#about-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 72px;
  text-decoration: underline;
}

#app-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 72px;
}

#input-voting-room {
  font-family: monospace;
  text-align: center;
}

#find-button {
  font-family: monospace;
  background-color: navy;
  color: white;
}

#form-text {
  font-family: monospace;
}

#create-voting-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
}

#create-voting-label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}

#voter-verify {
  top: 0;
  left: 0;
  background-color: white;
  position: absolute;
  z-index: 5;
}

#voter-verify #verify {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
}

#voting-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 48px;
}

#voting-status {
  font-family: monospace;
  font-size: 18px;
  background-color: green;
  color: white;
}

#voting-proposed {
  font-family: monospace;
  font-size: 18px;
}

#candidates-card {
  background-color: aliceblue;
  border-radius: 10px;
}

#candidates-card #candidate {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
}

#candidates-card #votes {
  font-family: monospace;
}

#vote-history-card {
  background-color: aliceblue;
  border-radius: 10px;
}

#vote-history-card #title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
}

#voting-history-text {
  font-family: monospace;
  font-size: 14px;
}

#vote-candidates-card {
  background-color: aliceblue;
  border-radius: 10px;
}

#vote-candidates-card #title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
}

#voting-submit {
  background-color: black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#decor-line {
  color: black;
  height: 2px;
}

th {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

td {
  font-family: monospace;
}
